# src/main/resources/application-prod.yml
spring:
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate    # validamos esquema en prod
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

server:
  port: ${PORT:8080}

logging:
  level:
    root: INFO
